# Virtual environment
.venv/
env/
*.egg-info/
__pycache__/

# VSCode settings
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Data folders
data/*
!data/.gitkeep

# Output, model files
output/*
!output/.gitkeep
model/*
!model/.gitkeep

# Notebook checkpoints
**/.ipynb_checkpoints/

# Browser driver
browserDrivers/
